.popover{
    width:auto;   
}
.search_form .input-group{
  width:100% !important;  
 
}
.container{
    width:100% !important;
}
.table-responsive{
    width:100% !important;
}
#ui-datepicker-div{
    z-index: 1200 !important;
}